#navbar .navbar-left img{
    filter: invert(0%);
}
/* LANDING SECTION */
.about-page-landing-section{
    width: 100%;
    /* height: 70vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem 2rem;
    /* padding-top: 5rem; */
    /* background: url("../images/aboutLandingBg.jpg");
    background-size: cover;
    background-position: center; */
    position: relative;
    color: white;
    overflow: hidden;
}
/* .about-page-landing-section::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #13131251;
} */
.about-page-landing-section h1 , .about-page-landing-section h2 , .about-page-landing-section p , .about-page-landing-section h3{
    position: relative;
    z-index: 99;
}
.about-page-landing-section h1{
    font-family: var(--handwritten);
    color: var(--darkGolden);
    font-size: 6rem;
}
.about-page-landing-section  p{
    max-width: 500px;
}
.about-page-landing-section video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 100%;
    height: auto;
    /* aspect-ratio: 16/9; */
}


/* SECOND SECTION */
.about-page-second-section{
    padding: 3.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.about-page-second-section-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 500px;
}
.about-page-second-section-left .btn-a{
    width: 120px;
}
.about-page-second-section-left h2{
    font-weight: bold;
}
.about-page-second-section-left h2 span{
    color: var(--darkGolden);
    font-family: var(--cursive);
}
.about-page-second-section-left p{
    font-size: 16px;
}
.about-page-second-section-right img{
    width: 400px;
}

/* THIRD SECTION */
.about-page-third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(242, 241, 241);
    padding: 3rem 2rem;
}
.about-page-third-section-card{
    width: 90%;
    height: 450px;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.about-page-third-section-card:nth-child(2){
    /* background-color: #b4b48f; */
    background-color: var(--darkGolden);
}
.about-page-third-section-card:nth-child(3){
    background-color: var(--darkGolden);
}
.about-page-third-section-card:nth-child(4){
    /* background-color: #b4b48f; */
    background-color: var(--darkGolden);
}
.about-page-third-section-card-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    width: 40%;
    height: 100%;
    color: white;
    padding: 2rem 2rem;
    gap: 1rem;
}
.about-page-third-section-card-left p{
    font-size: 15px;
}
.about-page-third-section-card-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* FORTH SECTION */
.about-page-forth-section{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.about-page-forth-section h2{
    color: var(--darkGolden);
    font-weight: bold;
}
.about-page-forth-section h1{
    width: 70%;
    max-width: 500px;
    font-size: 3rem;
}
.about-page-forth-section h1 span:nth-child(2){
    font-family: var(--cursive);
    color: var(--golden);
}
.about-page-forth-section h1 span:nth-child(1){
    color: var(--darkGolden);
}

/* FIFTH SECTION */
.about-page-fifth-section{
    height: 300px;
    width: 100%;
    background: url("../images/Home page 1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width:1000px) {
    .about-page-third-section-card-left{
        width: 60%;
    }
    .about-page-second-section-right img{
        width: 200px;
    }
}

@media screen and (max-width:750px) {
    .about-page-second-section-right img{
        width: 400px;
    }
    .about-page-third-section-card{
        width: 90%;
        height: auto;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 1rem;
    }
    .about-page-third-section-card-left{
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .about-page-forth-section h1{
        font-size: 2rem;
    }
    .about-page-landing-section h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:500px) {
    .about-page-landing-section{
        height: 500px;
    }
    .about-page-landing-section video{
        min-height: 700px;
        /* aspect-ratio: auto; */
        object-fit: cover;
    }
    .about-page-second-section-right img{
        width: 300px;
    }
    .about-page-second-section{
        padding-top:1rem;
    }
}